<link rel="stylesheet" href="/css/styleHome.css">

<div class="container">
    <h1>Bienvenido, {{username}}!</h1>
    <p>Estamos encantados de tenerte aquí. Explora y disfruta de nuestros servicios.</p>
</div>
